@model webbanlaptop.Models.ThongTin

<form asp-action="DetailThongTin">
    <input type="hidden" asp-for="SanPhamID" value="@Model.SanPhamID" />
    <div class="form-group mb-3">
        <label class="control-label mb-1">Trong hộp</label>
        <input type="text" name="TrongHop" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label class="control-label mb-1">Bảo hành pin</label>
        <input type="text" name="BaoHanhPin" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label class="control-label mb-1">Bảo hành máy</label>
        <input type="text" name="BaoHanh" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Thêm" class="btn btn-primary" />
    </div>
</form>