<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDanhMuc" aria-expanded="false" aria-controls="collapseDanhMuc">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý Danh mục
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseDanhMuc" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-controller="DanhMucs" asp-action="Index">Danh sách Danh mục</a>
                        <a class="nav-link" asp-controller="DanhMucCons" asp-action="Index">Danh sách Danh mục con</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSanPham" aria-expanded="false" aria-controls="collapseSanPham">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý Sản phẩm
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSanPham" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-controller="ThuongHieus" asp-action="Index">Danh sách Thương hiệu</a>
                        <a class="nav-link" asp-controller="KhuyenMais" asp-action="Index">Danh sách Thông tin Khuyến mãi</a>
                        <a class="nav-link" asp-controller="ThongSos" asp-action="Index">Danh sách Thông số Sản phẩm</a>
                        <a class="nav-link" asp-controller="ThongTinSanPhams" asp-action="Index">Danh sách Thông tin Sản phẩm</a>
                        <a class="nav-link" asp-controller="LoaiSanPhams" asp-action="Index">Danh sách Loại sản phẩm</a>
                        <a class="nav-link" asp-controller="Maus" asp-action="Index">Danh sách Màu sắc Sản phẩm</a>
                        <a class="nav-link" asp-controller="SanPhams" asp-action="Index">Danh sách Sản phẩm</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" asp-controller="DonDatHangs" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý Đơn đặt hàng
                </a>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý hệ thống
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-controller="TaiKhoans" asp-action="Index">Danh sách Tài khoản</a>
                        <a class="nav-link" asp-controller="Quyens" asp-action="Index">Danh sách Quyền</a>
                        <a class="nav-link" asp-controller="Banners" asp-action="Index">Danh sách Banner</a>
                        <a class="nav-link" asp-controller="BaiViets" asp-action="Index">Danh sách Bài viết</a>
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Charts
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tables
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>