<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSanPham" aria-expanded="false" aria-controls="collapseSanPham">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý danh sách
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSanPham" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-controller="Banners" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-image"></i></div>
                            Banner
                        </a>
                        <a class="nav-link" asp-controller="DanhMucs" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                            Danh mục
                        </a>
                        <a class="nav-link" asp-controller="ThuongHieus" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-trademark"></i></div>
                            Thương hiệu
                        </a>
                        <a class="nav-link" asp-controller="DonViTinhs" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-coins"></i></div>
                            Đơn vị tính
                        </a>
                        <a class="nav-link" asp-controller="NhaCungCaps" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-warehouse"></i></div>
                            Nhà cung cấp
                        </a>
                        <a class="nav-link" asp-controller="SanPhams" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-laptop"></i></div>
                            Sản phẩm
                        </a>
                    </nav>
                </div>

                <a class="nav-link collapsed" asp-controller="DonDatHangs" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý Đơn đặt hàng
                </a>

                @if (@Context.Session.GetInt32("_TaiKhoanID") == 1)
                {
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý hệ thống
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" asp-controller="TaiKhoans" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                                Tài khoản
                            </a>
                            <a class="nav-link" asp-controller="Quyens" asp-action="Index">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-scale-balanced"></i></div>
                                Quyền hạn
                            </a>
                        </nav>
                    </div>
                }
                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" asp-controller="BaoCaos" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Báo cáo
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            @Context.Session.GetString("_TenTaiKhoan")
        </div>
    </nav>
</div>