@model IEnumerable<webbanlaptop.Models.Banner>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách Banner</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm mới</a>
</p>
<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="mb-4">
            <td class ="d-flex">
                <div class="p-2 w-100">
                    <img src="~/images/@Html.DisplayFor(modelItem => item.HinhAnh)" class="img-thumbnail" width="100" />
                </div>
                <div class="p-2 flex-shrink-1 d-flex flex-column">
                    <a class="p-2" asp-action="Edit" asp-route-id="@item.BannerID">
                        <i class="fa-solid fa-pen-to-square text-success"></i>
                    </a>

                    <a class="p-2" asp-action="Details" asp-route-id="@item.BannerID">
                        <i class="fa-solid fa-circle-info text-primary"></i>
                    </a>

                    <a class="p-2" asp-action="Delete" asp-route-id="@item.BannerID">
                        <i class="fa-solid fa-trash text-danger"></i>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
