@model IEnumerable<webbanlaptop.Models.Quyen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="mb-4">
            <td class="d-flex">
                <div class="p-2 w-100">
                    @Html.DisplayFor(modelItem => item.Ten)
                </div>
                <div class="p-2 flex-shrink-1 d-flex flex-column">
                    <a asp-action="Edit" asp-route-id="@item.QuyenID"><i class="fa-solid fa-pen-to-square text-success"></i></a>
                    <a asp-action="Details" asp-route-id="@item.QuyenID"><i class="fa-solid fa-circle-info text-primary"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
